/*Arquivo css - formataçao do site*/
*{
padding: 0;
margin:0;
font-size:18px;
text-decoration:none;
color:#333;
list-style:none;
}
body{
	background-color:#111;
}

#geral{max-width:1200px;height:auto;overflow:hidden;margin:0 auto;}
/*------------------topo do site----------------*/
#topo{width:100%;height:200px;float:left;background-color:#DDF}
.logo{width:100px;height:auto;float:left;margin:20px;}
.links_top{float:right;padding:10px;margin:5px 2px;background-color:#145;color:#FFF;}
.links_top:hover{background-color:#59f;}
/*------------------fim do topo----------------*/




/*----------------------menu do site--------------------*/
#menu{width:100%;height:50px;float:left;background-color:#145}
.links_menu li a{float:left;padding:10px;background-color:#145;color:#FFF;margin-top:5px;}
.links_menu li a:hover{background-color:#59f;}
/*----------------------fim do menu do site--------------------*/



/*---------------------------conteudo do site-------------------------*/
#conteudo{width:100%;min-height:300px;float:left;background-color:#FFF;padding-bottom:20px;}
#conteudo_principal{width:70%;min-height:600px;float:left;border:1px solid #CCC;
margin:20px 10px;}
#recentes{width:26%;min-height:600px;float:left;border:1px solid #CCC;
margin:20px 10px;}
.postagens{width:100%;height:auto;overflow:hidden;float:left;margin:10px 0 30px 0;border:0px solid #F00;}
.titulos{font-size:20px;font-family:calibri,sans-serif;float:left;width:96%;margin:10px 2%;}
.imagem{width:100%;height:auto;float:left;margin:5px 0;}
.paragrafo,.data{font-size:16px;color:#333;float:left;width:96%;font-family:calibri,sans-serif;margin:10px 2%;}
.postagens_recentes{width:100%;height:auto;overflow:hidden;float:left;margin:10px 0 30px 0;border:0px solid #F00;}
.titulos a:hover{color:#59f}
/*------------------Pagina de contato----------------------*/
.campos{width:80%;margin:10px 10%;height:30px;float:left;padding:2px;}
.campo2{width:80%;margin:10px 10%;min-height:150px;float:left;padding:2px;}
.bt_enviar{float:left;margin-left:10%;padding:5px;font-size:16px;}
.legenda{float:left;margin-left:10%;font-size:16px;}
/*------------------fim da Pagina de contato----------------------*/



/*---------------------------fim do conteudo do site-------------------------*/

/*---------------------------rodape do site-------------------------*/
#rodape{width:100%;height:50px;float:left;background-color:#DDF}
.direitos{text-align:center;font-size:18px;padding:15px;}
/*---------------------------fim do rodape do site-------------------------*/